h2{
    text-align: center;
    font-size: 40px;
    margin: -10px;
}
.Flex-box-1{
    background-color: orange;
    text-align: center;
    margin: 3px;
}
.Flex-box-a{
    background-color: blue;
    text-align: center;
    margin: 3px;
}
.Flex-box-aa{
    background-color: blueviolet;
    text-align: center;
    margin: 3px;
}
.flex-container{
    display: flex;
    width: 100%;
}
.flex-container-1{
    display: flex;
    width: 100%;
}
.flex-container-2{
    display: flex;
    width: 100%;
}
#Flex-box{
    height: 150px;
    width: 200%;
}
#Flex-box-A{
    height: 150px;
    width: 100%;
}
#Flex-box-AA{
    height: 150px;
    width: 100%;
}
#super{
    background-color: black;
    border-radius: 5px;
}
body{
    background-image: linear-gradient(cyan,yellow,magenta,royalblue);
    background-size: cover;
    background-repeat: no-repeat;
    height: 721px;
}

/* Inner Div Css Started */

.a{
    display: flex;
    width: 100%;
}
.a1{
    display: flex;
    width: 100%;
}
.a2{
    display: flex;
    width: 100%;
}
#b{
    height: 40px;
    width: 99%;
    background-color: brown;
}
#b1{
    height: 40px;
    width: 99%;
    background-color: navy;
}
#b2{
    height: 40px;
    width: 99%;
    background-color: indigo;
}
.c{
    width: 100%;
}
.C{
    width: 100%;
}
.Cc{
    width: 100%;
}
#b{
    text-align: center;
    margin: 3px;
    border-radius: 5px;
}
#b1{
    text-align: center;
    margin: 3px;
    border-radius: 5px;
}
#b2{
    text-align: center;
    margin: 3px;
    border-radius: 5px;
}
